# Modelo Creditus

PA Percentual de ACerto dos Admimplentes

PA=Numero de adimplentes separados corretamente NAC/Total de Adimplentes do Banco de Dados (TA)
PI=Numero de inadimplentes separados corretamente NIC/Total de Adimplentes do Banco de Dados (TI)
Fitness do Cromossomo - FC

In [3]:
#$FC=[PA]*[PI]=[(NAC)/(TA)*(NIC)/(TI)]$

In [4]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
a = np.array ([1,0,1,0])

In [7]:
b = np.array ([2,2,2,2])

In [8]:
a*b

array([2, 0, 2, 0])

In [9]:
licoes = pd.read_csv('Creditus-Dados.csv', sep=';' , index_col = 0)
licoes.head (10)

,X11,X12,X21,X22,X31,X32,X41,X42,X51,X52,X61,X62,X71,X72,X81,X82,X91,X92,Resultado
Lições,,,,,,,,,,,,,,,,,,,
Y001,1,0,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A
Y002,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A
Y003,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1,I
Y004,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1,I
Y005,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0,A
Y006,0,1,0,1,1,0,1,0,1,0,1,0,0,1,1,0,0,1,A
Y007,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,0,0,1,A
Y008,1,0,1,0,0,1,1,0,1,0,0,1,1,0,1,0,0,1,I
Y009,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1,I
Y010,1,0,1,0,0,1,1,0,0,1,1,0,1,0,0,1,0,1,I

In [10]:
licoes.shape

(558, 19)

In [11]:
sort = np.random.uniform (low=-1.,high=1.01, size= (licoes.shape [1]-1,))
sort

array([-0.22954181, -0.50199209,  0.51854225, -0.0369173 , -0.74982599,
        0.65427646,  0.71569353, -0.40889077, -0.99811546, -0.42241671,
       -0.42112074, -0.18426156, -0.9618869 , -0.38197081,  0.03906758,
        0.79960247,  0.67531539,  0.17619729])

In [12]:
licoes2 = licoes.drop (['Resultado'], axis=1)
licoes2.shape

(558, 18)

    '''python
    licoes2 = licoes.drop (['Y001'], axis=0) # excluir linha (lição) do banco de dados. 
    licoes2.shape
    '''

In [13]:
licoes2.head()

,X11,X12,X21,X22,X31,X32,X41,X42,X51,X52,X61,X62,X71,X72,X81,X82,X91,X92
Lições,,,,,,,,,,,,,,,,,,
Y001,1,0,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0
Y002,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0
Y003,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1
Y004,1,0,1,0,0,1,1,0,1,0,0,1,1,0,0,1,0,1
Y005,0,1,0,1,1,0,0,1,0,1,1,0,0,1,1,0,1,0

In [14]:
c1 = (licoes2.iloc[0]*sort) #cromossomo 1
c1.values.sum ()

-1.9363011734790463

In [15]:
c100 = np.zeros(100)
c100

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [16]:
c100 [0] # check da funçao anterior

0.0

# Calcular o Fitness

In [17]:
nac = 0
nic = 0
ta = 0
ti = 0
for i in range(100):
    #  import ipdb; ipdb.set_trace() #debugging starts here
    s = int(np.random.randint(licoes.shape[0],size=1))
    c100[i]=(licoes2.iloc[s] * sort).values.sum()
    if c100[i] > 0 and licoes.iloc[s][-1] == 'A':
        nac += 1
    elif c100[i] < 0 and licoes.iloc[s][-1] == 'I':
        nic += 1
    if licoes.iloc[s][-1] == 'A':
        ta += 1
    else:
        ti += 1

In [18]:
nac

6

In [19]:
nic

47

In [20]:
ta

43

In [21]:
ti

57

In [22]:
fit1 = (nac*nic)/(ta*ti)
fit1

0.11505507955936352

# Criar funcoes

In [23]:
def criar_banco_cromossomos (numerocromossomos):
    banco = np.zeros([numerocromossomos,licoes.shape [1]-1])
    for i in range (numerocromossomos):
        sort = np.random.uniform (low=-1.,high=1.01, size= (licoes.shape [1]-1,))
        banco[i] = sort
    return banco

In [24]:
def calcular_fit (x):
    nac = 0
    nic = 0
    ta = 0
    ti = 0
    for i in range(100):
        #  import ipdb; ipdb.set_trace() #debugging starts here
        s = int(np.random.randint(licoes.shape[0],size=1))
        c100[i]=(licoes2.iloc[s] * x).values.sum()
        if c100[i] > 0 and licoes.iloc[s][-1] == 'A':
            nac += 1
        elif c100[i] < 0 and licoes.iloc[s][-1] == 'I':
            nic += 1
        if licoes.iloc[s][-1] == 'A':
            ta += 1
        else:
            ti += 1
    fit1 = (nac*nic)/(ta*ti)
    return fit1

In [25]:
def definir_pesos(cromos_fit):
    pesos_fit = np.zeros(cromos_fit.shape[0])
    for i in range(cromos_fit.shape[0]):
        pesos_fit[i] = cromos_fit[i] / cromos_fit.sum()
    return pesos_fit

In [26]:
def cross(vetor1, vetor2):
    s = int(np.random.randint(1,vetor1.size, size=1))
    x = vetor1[:s]
    y = vetor2[s:]
    return np.concatenate((x,y))

In [27]:
def x_men(vetor):
    s = np.random.randint(vetor.size, size=1)
    vetor[s] = np.random.uniform(low=-1.,high=1.01, size=1)

In [28]:
def menor_fit(cromos):
    a = np.where(np.array(cromos) == np.array(cromos).min())[0][0]
    return cromos[a], a

In [29]:
def roda_acaso(fits):
    fits = fits.cumsum()
    s1 = np.random.rand()
    for i in range(fits.shape[0]):
        if s1 <= fits[i]:
            return i

# Implementacao AG

In [45]:
cromos1 = criar_banco_cromossomos(8)
for ii in range(100):
    #import ipdb; ipdb.set_trace() #debugging starts here
    fits1 = np.zeros(cromos1.shape[0])
    pesos1 = np.zeros(cromos1.shape[0])
    for jj in range(cromos1.shape[0]):
        fits1[jj] = calcular_fit(cromos1[jj])
    pesos1 = definir_pesos(fits1)
    s1 = roda_acaso(pesos1)
    s2 = roda_acaso(pesos1)
    while s1 == s2:
        s2 = roda_acaso(pesos1)
    m, v = menor_fit(fits1)
    cs_filho = cross(cromos1[s1], cromos1[s2])
    if np.random.rand() > 0.5:
        x_men(cs_filho)
    cs_menor = m
    if calcular_fit(cs_filho) > calcular_fit(cromos1[v]):
        cromos1[v] = cs_filho

## Verificação de Algoritmo implementado

In [46]:
for k in range(8):
    acertou = 0
    for i in range(licoes.shape[0]):
        if (licoes2.iloc[i].values * cromos1[k]).sum() > 0 and licoes.iloc[i][-1] == 'A':
            acertou += 1
        elif (licoes2.iloc[i].values * cromos1[k]).sum() < 0 and licoes.iloc[i][-1] == 'I':
            acertou += 1
    acertos = acertou/licoes.shape[0]
    print(acertos)

0.7903225806451613
0.7724014336917563
0.6881720430107527
0.7186379928315412
0.7114695340501792
0.7240143369175627
0.7544802867383512
0.7562724014336918

In [31]:
cromos1 = criar_banco_cromossomos(20)
contador = 0
while cromos1[0].sum().std() > 0.01:
    #import ipdb; ipdb.set_trace() #debugging starts here
    fits1 = np.zeros(cromos1.shape[0])
    pesos1 = np.zeros(cromos1.shape[0])
    for jj in range(cromos1.shape[0]):
        fits1[jj] = calcular_fit(cromos1[jj])
    
    
    
    m, v = menor_fit(fits1)
    cs_filho = cross(cromos1[s1], cromos1[s2])
    if np.random.rand() > 0.5:
        x_men(cs_filho)
    cs_menor = m
    if calcular_fit(cs_filho) > calcular_fit(cromos1[3]):
        cromos1[v] = cs_filho
    contador +=1